<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout-admin}">
<body>
	<th:block layout:fragment="contentadmin">
		<div class="row page-titles">
			<div class="col-md-12 col-12 align-self-center p-l-0">
				<h3 class="text-themecolor m-b-0 m-t-0 text-uppercase">Cập nhật mã CQT thủ công</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<form name="f-tracuuthongdiep" id="f-tracuuthongdiep" method="post"
					enctype="multipart/form-data">
					<div class="card">
						<div class="card-body">
							<div class="row p-l p-r">
								<div class="col-12 b-a m-b-sm">
									<div class="row m-b-16">
										<div class="col-12 col-md-6">
											<div class="c-f__wrapper">
												<input id="mtdiep" name="mtdiep"
													class="form-control form-control-sm c-f__textbox"
													type="text" autocomplete="off" />
												<fieldset aria-hidden="true" class="c-f__set">
													<legend class="c-f__legend">
														<label>Mã thông điệp<span class="text-danger"
															style="font-size: 15px">(*)</span>
														</label>
													</legend>
												</fieldset>
											</div>
										</div>
										<div class="col-12 col-md-2">
											<div class="m-b-16">
												<button
													class="btns btns-search_auto__ses hover-up__ses w-100p"
													data-action="search" title="Tra cứu" type="button">
													<i class="mdi mdi-file-find"></i><span
														class="d-none d-md-inline">Tra cứu</span>
												</button>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-12">
											<hr style="margin: 0 0 10px 0" />
										</div>
									</div>

									<div class="row m-b-16">
										<div class="col-12">
											<div class="c-f__wrapper">
												<textarea  id="kqtcuu" name="kqtcuu"
													class="form-control form-control-sm c-f__textbox"
													autocomplete="off" readonly
													style="height: 50vh;"
													></textarea>
												<fieldset aria-hidden="true" class="c-f__set" style=" top: -15px;">
													<legend class="c-f__legend">
														<label>Kết quả tra cứu</label>
													</legend>
												</fieldset>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
<script type="text/javascript">
	transactionMain = 'tracuuthongdiep'
</script>
<script type="text/javascript">
	$(function () {
		$("#f-tracuuthongdiep").find('button[data-action]').click(function (event) {
			event.preventDefault();/*event.stopPropagation();*/
			var dataAction = $(this).data('action');

			var objDataSend = {};
			let mtdiep = $('#f-tracuuthongdiep #mtdiep').val();
			switch (dataAction) {
				case 'search':
					if (!mtdiep) {
						alertDLSuccess('<span class="required">Vui lòng nhập Mã thông điệp.</span>', function () { });
					    return;
					}
					objDataSend['mtdiep'] = mtdiep;
					$.ajax({
						type: "POST",
						datatype: "json",
						url: ROOT_PATH + '/main/' + transactionMain + '/execute',
						data: objDataSend,
						beforeSend: function (req) {
							initAjaxJsonRequest(req);
							showLoading();
						},
						success: function (res) {
							hideLoading();
							if (res.errorCode == 0) {
								$('#f-tracuuthongdiep #kqtcuu').val(res.responseData);
							} else {
								alertDLSuccess(createObjectError(res).html(), function () { });
							}
						},
						error: function (xhr, ajaxOptions, thrownError) {
							alertDLSuccess(xhr.status + " - " + xhr.responseText, function () { });
							hideLoading();
						}
					});
					break;
				default:
					break;
			}
		});

	});
</script>
</th:block>
</body>
</html>