<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div class="row page-titles">
	<div class="col-12 align-self-center p-l-0 centerX">
		<h3 class="text-themecolor m-b-0 m-t-0 text-uppercase"
			th:text="${_header_}"></h3>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<form id="f-phsl-mauhdadmin-crud" name="f-phsl-mauhdadmin-crud" method="post"
			enctype="multipart/form-data">
			<div class="card">
				<th:block th:if="${_action_ == 'CREATE'}">
					<div class="card-body">
						<div class="row p-l p-r">
							<div class="col-sm-12 offset-md-3 col-md-6 b-a m-b-sm">
								<div class="custom-field m-b-16">
									<div class="row m-b-16">
									<div class="col-9">
										<div class="c-f__wrapper">
											<input id="mstkh" name="viewimg"
												class="form-control form-control-sm c-f__textbox "
												type="text" autocomplete="off" th:value="${MSTKH}"
												th:readonly="${!_isedit_}" />
											<fieldset aria-hidden="true" class="c-f__set">
												<legend class="c-f__legend">
													<label>MST khách hàng</label>
												</legend>
											</fieldset>
										</div>
									</div>
									<div class="col-3">
										<button type="button"
											id = "search-mshd"
											class="btns btns-search_auto__ses hover-up__ses w-100p m-t-0 m-b-0"
											title="Xem hình ảnh mẫu hóa đơn" data-toggle="modal"
											data-target="#form"><i class="mdi mdi-file-find"></i><span
												class="d-none d-md-inline">Tìm mẫu</span></button>
									</div>
								</div>		
								</div>
								<div class="custom-field m-b-16">
									<div class="c-f__wrapper">
										<input class="form-control form-control-sm c-f__textbox"
											th:value="${MauSoHdon}" type="text" autocomplete="off"
											th:if="${!_isedit_}" th:readonly="true" /> <select
											id="mausohdon" name="mausohdon"
											class="form-control form-control-sm c-f__textbox"
											th:if="${_isedit_}" th:disabled="${'EDIT' == _action_}">
											<option value=""></option>
											<th:block th:if="${map_mausokyhieu != null}">
												<option th:each="entry : ${map_mausokyhieu.entrySet()}"
													th:value="${entry.key}" th:utext="${entry.value}"
													th:selected="${MauSoHD == entry.key}"></option>
											</th:block>
										</select>
										<fieldset aria-hidden="true" class="c-f__set">
											<legend class="c-f__legend">
												<label>Mẫu số<span class="text-danger"
													style="font-size: 15px">(*)</span></label>
											</legend>
										</fieldset>
									</div>
								</div>
								<div class="custom-field m-b-16">
									<div class="c-f__wrapper">
										<input id="quantity" name="quantity"
											class="form-control form-control-sm c-f__textbox "
											type="text" autocomplete="off" th:value="${Quantity}"
											th:readonly="${!_isedit_}" />
										<fieldset aria-hidden="true" class="c-f__set">
											<legend class="c-f__legend">
												<label>Số lượng</label>
											</legend>
										</fieldset>
									</div>
								</div>

								<div class="form-group row m-b-6">
									<div class="col-6">
										<button type="button" data-action="back" title="Quay lại"
											class="btn btn-sm btn-outline-secondary">
											<i class="mdi mdi-chevron-left"></i> <span
												class="d-none d-md-inline">Quay lại</span>
										</button>
									</div>
									<div class="col-6 text-right">
										<button type="button" data-action="accept"
											class="btnadd btns btns-blue__ses" title="Cháº¥p nháº­n"
											th:if="${null == messageError && ('CREATE' == _action_ || 'EDIT' == _action_)}">
											<i class="mdi mdi-check-all"></i> <span
												class="d-none d-md-inline">Chấp nhận</span>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</th:block>
				<th:block th:if="${_action_ != 'CREATE'}">
				<div class="card-body">
					<div class="row text-danger m-b-10 fw-500 col-12"
						th:if="${messageError != null}">
						[[${messageError}]]
						<div class="col-12 p-0">
							<hr class="m-t-5 m-b-5">
						</div>
					</div>
					
					<div class="form-group row m-b-6"
						th:classappend="${messageError != null? 'none-pointer-event': ''}">
						<div class="col-md-6">
							<div class="row m-b-16">
								<div class="col-12">
									<span
										class=" text-middle fw-800 text-uppercase text-decoration-underline color-ses">Thông tin phát hành</span>
								</div>
							</div>
							<div class="col-12">
								<div class="row m-b-16">
									<div class="col-6">
										<div class="c-f__wrapper">
											<input id="mstkh" name="viewimg"
												class="form-control form-control-sm c-f__textbox "
												type="text" autocomplete="off" th:value="${MSTKH}"
												th:readonly="${!_isedit_}" />
											<fieldset aria-hidden="true" class="c-f__set">
												<legend class="c-f__legend">
													<label>MST khách hàng</label>
												</legend>
											</fieldset>
										</div>
									</div>
									<div class="col-3">
										<button type="button"
											id = "search-mshd"
											class="btns btns-search_auto__ses hover-up__ses w-100p m-t-0 m-b-0"
											title="Xem hình ảnh mẫu hóa đơn" data-toggle="modal"
											data-target="#form"
											th:disabled="${'EDIT' != _action_}"
											>Tìm mẫu</button>
									</div>
								</div>								
							</div>
							<div class="col-12 col-sm-6 col-md-6 custom-field m-b-16 ">
								<div class="c-f__wrapper">
									<input class="form-control form-control-sm c-f__textbox"
										th:value="${MauSoHdon}" type="text" autocomplete="off"
										th:if="${!_isedit_}" th:readonly="true" /> 
										<select
										id="mausohdon" name="mausohdon"
										class="form-control form-control-sm c-f__textbox"
										th:if="${_isedit_}" th:disabled="${'EDIT' == _action_}">
										<option value=""></option>
										<th:block th:if="${map_mausokyhieu != null}">
											<option th:each="entry : ${map_mausokyhieu.entrySet()}"
												th:value="${entry.key}" th:utext="${entry.value}"
												th:selected="${MauSoHD == entry.key}"></option>
										</th:block>
									</select>
									<fieldset aria-hidden="true" class="c-f__set">
										<legend class="c-f__legend">
											<label>Mẫu số<span class="text-danger"
												style="font-size: 15px">(*)</span></label>
										</legend>
									</fieldset>
								</div>
							</div>
							<div class="col-md-6">
								<div class="row m-b-16">
									<div class="col-12">
										<div class="c-f__wrapper">
											<input id="quantity" name="quantity"
												class="form-control form-control-sm c-f__textbox "
												type="text" autocomplete="off" th:value="${Quantity}"
												th:readonly="${!_isedit_}" />
											<fieldset aria-hidden="true" class="c-f__set">
												<legend class="c-f__legend">
													<label>Số lượng</label>
												</legend>
											</fieldset>
										</div>
									</div>
								</div>								
							</div>
						</div>


						<div class="col-md-6">
							<div class="row m-b-16">
								<div class="col-12">
									<span
										class=" text-middle fw-800 text-uppercase text-decoration-underline color-ses">Thông tin chi tiết</span>
								</div>
							</div>					
										<div class="row m-b-16">
									<div class="col-12">
										<div class="c-f__wrapper">
											<input id="name" name="name"
												class="form-control form-control-sm c-f__textbox "
												type="text" autocomplete="off" th:value="${NamePhoi}"
												th:readonly="true" />
											<fieldset aria-hidden="true" class="c-f__set">
												<legend class="c-f__legend">
													<label>Tên phôi</label>
												</legend>
											</fieldset>
										</div>
									</div>
								</div>
										<div class="row m-b-16">
									<div class="col-12">
										<div class="c-f__wrapper">
											<input id="nlap" name="nlap"
												class="form-control form-control-sm c-f__textbox "
												type="text" autocomplete="off" th:value="${NLap}"
												th:readonly="true" />
											<fieldset aria-hidden="true" class="c-f__set">
												<legend class="c-f__legend">
													<label>Ngày lập</label>
												</legend>
											</fieldset>
										</div>
									</div>
								</div>
										<div class="row m-b-16">
									<div class="col-12">
										<div class="c-f__wrapper">
											<input id="tuso" name="tuso"
												class="form-control form-control-sm c-f__textbox "
												type="text" autocomplete="off" th:value="${TuSo}"
												th:readonly="true" />
											<fieldset aria-hidden="true" class="c-f__set">
												<legend class="c-f__legend">
													<label>Từ số</label>
												</legend>
											</fieldset>
										</div>
									</div>
								</div>
								<div class="row m-b-16">
									<div class="col-12">
										<div class="c-f__wrapper">
											<input id="denso" name="denso"
												class="form-control form-control-sm c-f__textbox "
												type="text" autocomplete="off" th:value="${DenSo}"
												th:readonly="true" />
											<fieldset aria-hidden="true" class="c-f__set">
												<legend class="c-f__legend">
													<label>Đến số</label>
												</legend>
											</fieldset>
										</div>
									</div>
								</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-12">
							<hr style="margin: 0 0 10px 0" />
						</div>
					</div>
					<div class="form-group row m-b-6">
						<div class="col-6">
							<button type="button" data-action="back" title="Quay lại"
								class="btn btn-sm btn-outline-secondary">
								<i class="mdi mdi-chevron-left"></i> <span
									class="d-none d-md-inline">Quay lại</span>
							</button>
						</div>
						<div class="col-6 text-right">
							<button type="button" data-action="accept"
								class="btnadd btns btns-blue__ses" title="Cháº¥p nháº­n"
								th:if="${null == messageError && ('CREATE' == _action_ || 'EDIT' == _action_)}">
								<i class="mdi mdi-check-all"></i> <span
									class="d-none d-md-inline">Chấp nhận</span>
							</button>
						</div>
					</div>
				</div>
				</th:block>	
			</div>
			<input type="hidden" name="_id" th:value="${_id}">
		</form>
		<script type="text/javascript">
		transactionMain = '[[${transaction}]]';
		var rowsTMP = [];
		var vIsEdit = '[[${_isedit_}]]';
		_gridSub01 = $('#f-phsl-mauhdadmin-crud');
		</script>
		<script type="text/javascript">
		$('#f-phsl-mauhdadmin-crud #search-mshd').click(function (event) {
			event.preventDefault();
			var _val = $('#f-phsl-mauhdadmin-crud').find('#mstkh').val();	
			
			$('#f-phsl-mauhdadmin-crud').find('#mausohdon').empty();
			$('#f-phsl-mauhdadmin-crud').find('#mausohdon').append($("<option></option>").text('').val(''));
			
			if('' == _val ||_val.trim() == '' || _val == undefined) {
				alertDLSuccess("Vui lòng nhập MST khách hàng ", function(){});
				return;
			}
			
	
			$.ajax({
				type: "POST",
				datatype: "json",
				url: ROOT_PATH + '/main/' + transactionMain + '/get-mshd',
				data: {"mstkh": _val},
				beforeSend: function(req) {
					initAjaxJsonArrayRequest(req);
				},
				success:function(res) {
					if(res && $.isArray(res)) {
						if (res.length == 0) {
							alertDLSuccess("Không tìm thấy mấu số của MST khách hàng: "+_val , function(){});
						} else {
						$.each(res, function(index, item) {
							if (index == 0) {
								$('#f-phsl-mauhdadmin-crud').find('#mausohdon').append(
										$("<option selected></option>").text(item['Name']).val(item['Code'])
									);
							} else {
								$('#f-phsl-mauhdadmin-crud').find('#mausohdon').append(
										$("<option></option>").text(item['Name']).val(item['Code'])
									);
							}
						});
					}
						
					}
				
				},
				error:function (xhr, ajaxOptions, thrownError){
		        }

			});
		});

		</script>
		<script type="text/javascript">
		$(function(){
			if(vIsEdit){
				initInputNumber('#f-phsl-mauhdadmin-crud .text-number');
			}
			
			
			/*LAY THONG TIN CKS*/
			$("#f-phsl-mauhdadmin-crud").find('button[data-action]').click(function (event) {
				event.preventDefault();/*event.stopPropagation();*/
				var dataAction = $(this).data('action');
				
				var $obj = $(this);
				var objDataSend = null;
				
				switch (dataAction) {	
				case 'back':
					$('#divMainContent').show();
					$('#divSubContent').hide(function(){$(this).empty();});
					try{
						if($('#f-phsl-mauhdadmin').length > 0)
							$('#f-phsl-mauhdadmin').data("kendoGrid").dataSource.read();
					}catch(err){}
					break;
				case 'accept':
					objDataSend = getDataToSave();
					$.ajax({
						type: "POST",
						datatype: "json",
						url: ROOT_PATH + '/main/' + transactionMain + '/check-data-save',
						data: objDataSend,
						beforeSend: function(req) {
							initAjaxJsonRequest(req);
				        	showLoading();
						},
						success:function(res) {
							hideLoading();
							if(res.errorCode == 0) {
								var responseData = res.responseData;
								
								var confirmText = responseData['CONFIRM'];
								tokenTransaction = responseData['TOKEN'];
								
								objDataSend['tokenTransaction'] = tokenTransaction;
								
								alertConfirm(confirmText,
									function(e){
										$.ajax({
											type: "POST",
											datatype: "json",
											url: ROOT_PATH + '/main/' + transactionMain + '/save-data',
											data: objDataSend,
											beforeSend: function(req) {
												initAjaxJsonRequest(req);
									        	showLoading();
											},
											success:function(res) {
												hideLoading();
												if(res) {
													if(res.errorCode == 0) {
														$("#f-phsl-mauhdadmin-crud").find('button[data-action="back"]').trigger('click');
													}else{
														alertDLSuccess(createObjectError(res).html(), function(){});
													}
												}else{
													alertDLSuccess('unknown error!!!', function(){});
													hideLoading();
												}
											},
											error:function (xhr, ajaxOptions, thrownError){
												alertDLSuccess(xhr.status + " - " + xhr.responseText, function(){});
									            hideLoading();
									        }
										});
									},
									function(e){}
								);
							}else{
								alertDLSuccess(createObjectError(res).html(), function(){});
							}
						},
						error:function (xhr, ajaxOptions, thrownError){
							alertDLSuccess(xhr.status + " - " + xhr.responseText, function(){});
				            hideLoading();
				        }
					});
					break;

				default:
					break;
				}
			});
		});

		function getDataToSave(){
			var dataPost = {};		
			dataPost['_id'] = $('#f-phsl-mauhdadmin-crud').find('input[name="_id"]').val();
			dataPost['mstkh'] = $('#f-phsl-mauhdadmin-crud').find('#mstkh').val();
			dataPost['mausohdon'] = $('#f-phsl-mauhdadmin-crud').find('#mausohdon').val();	
			dataPost['quantity'] = $('#f-phsl-mauhdadmin-crud').find('#quantity').val();
			return dataPost;
		}

		</script>
	</div>
</div>

</html>