<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout-main}">
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-sm-12">
				<div class="col-xs-11 margin-top-only margin-bottom-only center-block">
					<form  method="post" enctype="multipart/form-data" >
						<div class="row" >
							<div class="col-12">
								<div class="form-group m-b-5 text-center">
									<img th:src="@{/static/images/sadface.gif}" width="250">
								</div>
							</div>
							<div class="col-12">
								<div class="form-group m-b-5 text-center">
									<div class="text-danger fs-20" role="alert">[[${errorMessage}]]</div>
								</div>
							</div>	
						</div>
						
					</form>
					
				</div>
			</div>
		</div>
	</div>
</body>
</html>
	