<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout-admin}">
<body>
	<th:block layout:fragment="contentadmin">
		<div class="row page-titles">
			<div class="col-md-12 col-12 align-self-center p-l-0">
				<h3 class="text-themecolor m-b-0 m-t-0 text-uppercase">Cấu hình MailJet</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<form name="f-config-mailjet" id="f-config-mailjet" method="post" enctype="multipart/form-data" >
					<div class="card">
						<div class="card-body">
							<div class="row p-l p-r">
								<div class="col-sm-12 offset-md-2 col-md-8 b-a m-b-sm background-frame-brown ">

									<!-- box-header -->
										<div class="input-group-sm row">
										<label class="col-5 col-sm-3 form-control-label">Phương thức</label>
										<div class="col-7 col-sm-9">
											<div class="row">
												<div class="col-sm-12 d-flex align-items-center">
													<label class="col-3 col-sm-1 form-control-label p-l-0 p-r-0 " >SSL</label>
													<div class="col-9 col-sm-11">
														<label class="ui-switch m-r m-t-sm dark">
															<input type="checkbox" class="has-value" id="check-ssl" name="check-ssl" th:checked="${CheckSSL != null && CheckSSL}" />
															<i></i>
														</label>
													</div>
												</div>
												<div class="col-sm-12 d-flex align-items-center" >
													<label class="col-3 col-sm-1 form-control-label p-l-0 p-r-0 ">TLS</label>
													<div class="col-9 col-sm-11">
														<label class="ui-switch m-r m-t-sm dark">
															<input type="checkbox" class="has-value" id="check-tls" name="check-tls" th:checked="${CheckTLS != null && CheckTLS}" />
															<i></i>
														</label>
													</div>
												</div>
											</div>
										</div>
									</div>
									
									<div class="input-group-sm m-b-14">
										<label>SMTP Server </label>
										<input type="text" class="form-control form-control-sm has-value" id="smtp-server" name="smtp-server" autocomplete="off" th:value="${SmtpServer}" />
									</div>
									<div class="input-group-sm m-b-14">
										<label>Port </label>
										<input type="text" class="form-control form-control-sm has-value" id="smtp-port" name="smtp-port" th:value="${SmtpPort}" />
									</div>							
									<div class="input-group-sm m-b-14">
										<label>API KEY</label>
										<input type="text" class="form-control form-control-sm has-value" id="api-key" name="api-key" autocomplete="off" th:value="${APIKEY}" />
									</div>						
									<div class="input-group-sm m-b-14">
										<label>SECRET KEY</label>
										<input type="text" class="form-control form-control-sm has-value" id="secret-key" name="secret-key" th:value="${SECRETKEY}" autocomplete="off" />
									</div>
									<div class="input-group-sm m-b-24">
										<label>Email gửi</label>
										<input type="text" class="form-control form-control-sm" id="email" name="email" th:value="${MAIL}" />
									</div>
									<div class="input-group-sm p-b-sm p-r-xs">
										<div class="text-md-left text-sm-left text-left" ></div>
										<div class="text-md-right text-sm-right text-right">
											<button type="button" data-action="accept" class="btnadd btns btns-blue__ses" title="Chấp nhận" th:if="${null == messageError}" >
												<i class="mdi mdi-check-all"></i>
												<span class="d-none d-md-inline">Chấp nhận</span>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<input type="hidden" name="_id" th:value="${_id}" >
				</form>
				<script type="text/javascript">
				transactionMain = '[[${transaction}]]';
				</script>
				<!-- <script th:src="@{/static/function/system/config-email-server.js(v=1.0) }"></script> -->
				<script type="text/javascript">
				$(function(){
					inputFilterInteger($('#f-config-mailjet').find('#smtp-port'))
					
					$('#f-config-mailjet').find('button[data-action]').click(function (event) {
						event.preventDefault();/*event.stopPropagation();*/
						var dataAction = $(this).data('action');
						
						var $obj = $(this);
						var objDataSend = null;
						
						switch (dataAction) {
						case 'accept':
							objDataSend = getDataToSave();
							$.ajax({
								type: "POST",
								datatype: "json",
								url: ROOT_PATH + '/main/' + transactionMain + '/check-data-save',
								data: objDataSend,
								beforeSend: function(req) {
									initAjaxJsonRequest(req);
						        	showLoading();
								},
								success:function(res) {
									hideLoading();
									if(res.errorCode == 0) {
										var responseData = res.responseData;
										
										var confirmText = responseData['CONFIRM'];
										tokenTransaction = responseData['TOKEN'];
										
										objDataSend['tokenTransaction'] = tokenTransaction;
										alertConfirm(confirmText,
											function(e){
												$.ajax({
													type: "POST",
													datatype: "json",
													url: ROOT_PATH + '/main/' + transactionMain + '/save-data',
													data: objDataSend,
													beforeSend: function(req) {
														initAjaxJsonRequest(req);
											        	showLoading();
													},
													success:function(res) {
														hideLoading();
														if(res) {
															if(res.errorCode == 0) {
																location.reload();
															}else{
																alertDLSuccess(createObjectError(res).html(), function(){});
															}
														}else{
															alertDLSuccess('unknown error!!!', function(){});
															hideLoading();
														}														
													},
													error:function (xhr, ajaxOptions, thrownError){
														alertDLSuccess(xhr.status + " - " + xhr.responseText, function(){});
											            hideLoading();
											        }
												});
											},
											function(e){}
										);
									}else{
										alertDLSuccess(createObjectError(res).html(), function(){});
									}
								},
								error:function (xhr, ajaxOptions, thrownError){
									alertDLSuccess(xhr.status + " - " + xhr.responseText, function(){});
						            hideLoading();
						        }
							});
							break;

						default:
							break;
						}
					});
					
				});

				function getDataToSave(){
					var dataPost = {};
					var _tmp = '';				
					dataPost['_id'] = $('#f-config-mailjet').find('input[name="_id"]').val();
					_tmp = $('#f-config-mailjet').find('input[type="checkbox"][name="check-ssl"]').prop('checked')? 'Y': 'N';
					dataPost['check-ssl'] = _tmp;
					_tmp = $('#f-config-mailjet').find('input[type="checkbox"][name="check-tls"]').prop('checked')? 'Y': 'N';
					dataPost['check-tls'] = _tmp;
					dataPost['smtp-server'] = $('#f-config-mailjet').find('#smtp-server').val();
					dataPost['smtp-port'] = $('#f-config-mailjet').find('#smtp-port').val();
					dataPost['api-key'] = $('#f-config-mailjet').find('#api-key').val();
					dataPost['secret-key'] = $('#f-config-mailjet').find('#secret-key').val();
					dataPost['email'] = $('#f-config-mailjet').find('#email').val();
			
					return dataPost;
				}
				</script>
			</div>
		</div>
	</th:block>
</body>
</html>