<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout-main}">
<body>
	<th:block layout:fragment="content">
		<div class="row page-titles">
			<div class="col-md-12 col-12 align-self-center p-l-0">
				<h3 class="text-themecolor m-b-0 m-t-0 text-uppercase">Danh
					sách thông báo phát hành</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<form id="f-quantity" name="f-quantity" method="post"
					enctype="multipart/form-data">
					<div class="card">
						<div class="card-body">
							<div class="filter__list--erp">
								<div class="col-erp-5">
									<div class="row">
										<div class="col-12 custom-field m-b-16">
											<div class="c-f__wrapper">
												<select class="form-control form-control-sm c-f__textbox"
													id="mau-so-hdon" name="mau-so-hdon">

													<option value=""></option>
													<th:block th:if="${map_mausokyhieu != null}">
														<option th:each="entry : ${map_mausokyhieu.entrySet()}"
															th:value="${entry.key}" th:utext="${entry.value}">
														</option>
													</th:block>
												</select>
												<fieldset aria-hidden="true" class="c-f__set">
													<legend class="c-f__legend">
														<label>Mẫu hóa đơn</label>
													</legend>
												</fieldset>
											</div>
										</div>
									</div>

								</div>
								<div class="col-erp-5">
									<div class="row">
										<div class="col-12 custom-field m-b-16">
											<div class="c-f__wrapper">
												<input class="form-control form-control-sm c-f__textbox"
													type="text" id="from-date" name="from-date"
													th:value="${FromDate}" autocomplete="off" />
												<fieldset aria-hidden="true" class="c-f__set">
													<legend class="c-f__legend">
														<label>Từ ngày </label>
													</legend>
												</fieldset>
											</div>
										</div>
									</div>
								</div>
								<div class="col-erp-5">
									<div class="row">
										<div class="col-12 custom-field m-b-16">
											<div class="c-f__wrapper">
												<input class="form-control form-control-sm c-f__textbox"
													type="text" id="to-date" name="to-date"
													th:value="${ToDate}" autocomplete="off" />
												<fieldset aria-hidden="true" class="c-f__set">
													<legend class="c-f__legend">
														<label>Đến ngày</label>
													</legend>
												</fieldset>
											</div>
										</div>
									</div>
								</div>
								<div class="col-erp-5">

									<div class="row">
										<div class="col-12">
											<button
												class=" btns btns-search_auto__ses hover-up__ses w-100p"
												data-action="search" title="Tìm kiếm" type="button">
												<i class="mdi mdi-file-find"></i><span
													class="d-none d-md-inline">Tìm kiếm</span>
											</button>
										</div>
									</div>
								</div>

							</div>

							<div class="row">
								<div class="col-12">
									<hr style="margin: 0 0 10px 0" />
								</div>
							</div>
							<div class="col-12">
								<div class="row mT-0">
									<div class="col-4 col-sm-4 p-l-0">
										                   
                            		</div> 
									<div class="col-8 col-sm-8 text-right p-r-0 p-l-0">
										<div class="button-group text-right">
											<button type="button" title="Thêm mới"
												data-action="quantity-cre"
												class="btns btns-add__ses hover-up__ses"
												th:if="${#strings.contains(UserFullPathRight,'|quantity-cre|')}">
												<i class="mdi mdi mdi-plus-circle-outline"> </i><span
													class="d-none d-md-inline">Thêm mới</span>
											</button>
											<button type="button" title="Chi tiết"
												data-action="quantity-detail"
												class="btns btns-detail__ses hover-up__ses"
												th:if="${#strings.contains(UserFullPathRight,'|quantity-detail|')}"
												th:disabled="true">
												<i class="mdi mdi-information-outline"> </i><span
													class="d-none d-md-inline">Chi tiết</span>
											</button>
<!-- 											<button type="button" title="Phát hành số lượng"
												data-action="quantity-edit"
												class="btns btns-edit__ses hover-up__ses"
												th:if="${#strings.contains(UserFullPathRight,'|quantity-edit|')}"
												th:disabled="true">
												<i class="mdi mdi-tooltip-edit"> </i><span
													class="d-none d-md-inline">Phát hành số lượng</span>
											</button> -->
										</div>
									</div>
								</div>
							</div>

							<div class="form-group row m-b-5 m-t-7">
								<div class="col-12 has-min-height-grid">
									<div id="grid"></div>
								</div>
							</div>

						</div>
					</div>


				</form>
				<script type="text/javascript">
					_gridMain = $('#f-quantity').find('#grid');
				</script>
				<!-- <script th:src="@{/static/function/quantity/quantity.js(v=1.18) }"></script> -->
		<script type="text/javascript">
		$(function(){
			dateInputFormat($('#f-quantity').find('#from-date'));
			dateInputFormat($('#f-quantity').find('#to-date'));
			
			_gridMain.kendoGrid({
				dataSource: new kendo.data.DataSource({
					transport: {
						read: {
							type: 'POST',
							url: ROOT_PATH + '/main/quantitys/nmua_test/search',
		                    dataType: 'json',
		                    data: function(){return getDataSearch();},
		                    beforeSend: function(req){
		                    	initAjaxJsonGridRequest(req);
		                	},
						}
					},
					requestEnd: function (e) {
		               	if (e.type === "read" && e.response) {
		               		if(e.response.errorCode == 0){
		               		}else{
		               			notificationDLSuccess(createObjectError(e.response).html(), function(){});
		               		}
		               	}
		           	},
		            schema: {
						data: "rows",
		                total: "total",
		                model: {
							fields: {
							}
						}
					},
					pageSize: KENDOUI_PAGESIZE_NO_SCROLL_Y,
					serverPaging: true,
					serverSorting: true,
		           	serverFiltering: true,
		           	change: function(e) {
		            },
				}),
				selectable: true, scrollable: true, 
		 		sortable: {mode: "single", allowUnsort: true},
				sortable: true,
//		 		filterable: { mode: "row"},
				filterable: false, resizable: true,
				serverSorting: false,
//				height: kendoGridHeight,
				pageable: {
					refresh: true,
					pageSizes: true,
					buttonCount: KENDOUI_BUTTONCOUNT,
					messages: {
						itemsPerPage: kendoGridMessages.itemsPerPage,
						previous: kendoGridMessages.previous,
						next: kendoGridMessages.next,
						refresh: kendoGridMessages.refresh,
						last: kendoGridMessages.last,
						first: kendoGridMessages.first,
						empty: kendoGridMessages.empty,
						display: kendoGridMessages.display
					},
					pageSizes: KENDOUI_PAGESIZES,
					numeric: true
				},
				dataBinding: function () {
		            record = (this.dataSource.page() - 1) * this.dataSource.pageSize();
		        },
		        columns: [
		        	{field: 'STT', width: '60px', encoded: false, headerTemplate: '<a class="k-link" href="javascript:void(0);">STT</a>',
		  				attributes: {'class': 'table-cell text-center'}, sortable: false, 
		  				headerAttributes: {'class': 'table-header-cell text-center'}, template: "#= ++record #",
		  			},
		  			/* {field: 'func', title: '', width: '100px', encoded: false
		  				, headerTemplate: '&nbsp;'
						, attributes: {'class': 'table-cell', style: 'text-align: left;'}, sortable: false
						, headerAttributes: {'class': 'table-header-cell', style: 'text-align: center;',}
						, template: '#= window.setTemplateForGridMAIN("func", data) #'
					}, */
					{field: 'NLap', width: '100px', encoded: false, headerTemplate: '<a class="k-link" href="javascript:void(0);">Ngày lập</a>',
						attributes: {'class': 'table-cell text-center'}, sortable: false, 
						headerAttributes: {'class': 'table-header-cell text-center'},
					},
					{field: 'KHMSHDon', width: '180px', encoded: false, headerTemplate: '<a class="k-link" href="javascript:void(0);">Kí hiệu mẫu số HD</a>',
						attributes: {'class': 'table-cell text-center'}, sortable: false, 
						headerAttributes: {'class': 'table-header-cell text-center'},
					},
					{field: 'NamePhoi', width: '100px', encoded: false, headerTemplate: '<a class="k-link" href="javascript:void(0);">Phôi</a>',
						attributes: {'class': 'table-cell text-left'}, sortable: false, 
						headerAttributes: {'class': 'table-header-cell text-center'},
					},
					{field: 'SoLuong', width: '100px', encoded: false, headerTemplate: '<a class="k-link" href="javascript:void(0);">Số lượng</a>',
						attributes: {'class': 'table-cell text-left'}, sortable: false, 
						headerAttributes: {'class': 'table-header-cell text-center'},
					},
					{field: 'TuSo', width: '100px', encoded: false, headerTemplate: '<a class="k-link" href="javascript:void(0);">Từ số</a>',
						attributes: {'class': 'table-cell text-left'}, sortable: false, 
						headerAttributes: {'class': 'table-header-cell text-center'},
					},
					{field: 'DenSo', width: '100px', encoded: false, headerTemplate: '<a class="k-link" href="javascript:void(0);">Đến số</a>',
						attributes: {'class': 'table-cell text-center'}, sortable: false, 
						headerAttributes: {'class': 'table-header-cell text-center'},
					},					
		    	],
				dataBound: function(e) {
//					_gridMain.find('div table tbody tr td').each(function(idx, obj){
//						$(obj).attr('title', $(obj).html())
//					});
					
					$("#f-quantity").find('button[data-action="quantity-detail"], button[data-action="quantity-edit"]').prop('disabled', true);
					
					_gridMain.find('tbody[role="rowgroup"]').find('tr').undelegate('i[data-sub-action]', 'click');
					_gridMain.find('tbody[role="rowgroup"]').find('tr').delegate('i[data-sub-action]', 'click', function(e){
						e.preventDefault();/*e.stopPropagation();*/
						
						var $obj = $(this);
						var $tr = $obj.closest('tr');
						var subAction = $obj.attr('data-sub-action');
						
						var indexRow = $tr.index();
						var rowData = null;
						var objData = {};
						var objURL = {};
						
						switch (subAction) {		
						case 'delete':
						case 'deactive':
						case 'active':					
							if('delete' == subAction){
								objURL['check'] = ROOT_PATH + '/main/quantity-del/check-data';
								objURL['exec'] = ROOT_PATH + '/main/quantity-del/exec-data';
							}else if('active' == subAction){
								objURL['check'] = ROOT_PATH + '/main/quantity-active/check-data';
								objURL['exec'] = ROOT_PATH + '/main/quantity-active/exec-data';
							}
							else {
								objURL['check'] = ROOT_PATH + '/main/quantity-deactive/check-data';
								objURL['exec'] = ROOT_PATH + '/main/quantity-deactive/exec-data';
							}
							rowData = _gridMain.data("kendoGrid").dataItem($tr);
							objData['_id'] = rowData['_id'];
							$.ajax({
								type: "POST",
								datatype: "json",
								url: objURL['check'],
								data: objData,
								beforeSend: function(req) {
									initAjaxJsonRequest(req);
						        	showLoading();
								},
								success:function(res) {
									hideLoading();
									if(res) {
										if(res.errorCode == 0) {
											var responseData = res.responseData;
											
											var confirmText = responseData['CONFIRM'];
											tokenTransaction = responseData['TOKEN'];
											
											objData['tokenTransaction'] = tokenTransaction;
											
											alertConfirm(confirmText,
												function(e){
													$.ajax({
														type: "POST",
														datatype: "json",
														url: objURL['exec'],
														data: objData,
														beforeSend: function(req) {
															initAjaxJsonRequest(req);
												        	showLoading();
														},
														success:function(res) {
															hideLoading();
															if(res) {
																if(res.errorCode == 0) {
																	_gridMain.data("kendoGrid").dataSource.read();
																}else{
																	alertDLSuccess(createObjectError(res).html(), function(){});
																}
															}else{
																alertDLSuccess('unknown error!!!', function(){});
																hideLoading();
															}
														},
														error:function (xhr, ajaxOptions, thrownError){
															alertDLSuccess(xhr.status + " - " + xhr.responseText, function(){});
												            hideLoading();
												        }
													});
												},
												function(e){}
											);
										}else{
											alertDLSuccess(createObjectError(res).html(), function(){});
										}
									}else{
										alertDLSuccess('unknown error!!!', function(){});
										hideLoading();
									}
								},
								error:function (xhr, ajaxOptions, thrownError){
									alertDLSuccess(xhr.status + " - " + xhr.responseText, function(){});
						            hideLoading();
						        }
							});
							break;
						default:
							break;
						}
					});
					
				}
			});
			
			_gridMain.find('table[role="grid"]').find('tbody').undelegate('tr', 'click');
			_gridMain.find('table[role="grid"]').find('tbody').delegate('tr', 'click', function(e){
				$("#f-quantity").find('button[data-action="quantity-detail"]').prop('disabled', false);		
				$("#f-quantity").find('button[data-action="quantity-edit"]').prop('disabled', false);		
				var $tr = $(this).closest("tr");
				var rowData = _gridMain.data("kendoGrid").dataItem($tr);
				
			});
			

			$("#f-quantity").undelegate('a.download-plugin', 'click');
			$("#f-quantity").delegate('a.download-plugin', 'click', function(event){
				event.preventDefault();/*event.stopPropagation();*/
				
				window.open(ROOT_PATH + '/main/common/download-plugin', '_blank');
			});
			
			$("#f-quantity").find('button[data-action]').click(function (event) {
				event.preventDefault();/*event.stopPropagation();*/
				var dataAction = $(this).data('action');
				
				var $obj = $(this);
				
				var rowData = null;
				var actionCheck = '|quantity-edit|quantity-detail|';

				
				var entityGrid = _gridMain.data("kendoGrid");
				var selectedItem = entityGrid.dataItem(entityGrid.select());
				if(actionCheck.indexOf('|' + dataAction + '|') != -1 && selectedItem == null){
					alertDLSuccess('<span class="required">Vui lòng chọn dòng dữ liệu để thực hiện.</span>', function(){});
					return;
				}
				
				var objData = {};
				switch (dataAction) {
				case 'quantity-edit':
					objData['_id'] = selectedItem['_id'];
					$('#divSubContent').show();$('#divMainContent').hide();
					submitFormRenderArea(ROOT_PATH + '/main/' + dataAction + '/init', objData, $('#divSubContent'));
					break;
				case 'quantity-detail':
					objData['_id'] = selectedItem['_id'];
					$('#divSubContent').show();$('#divMainContent').hide();
					submitFormRenderArea(ROOT_PATH + '/main/' + dataAction + '/init', objData, $('#divSubContent'));
					break;
				case 'quantity-cre':
					$('#divSubContent').show();$('#divMainContent').hide();
					submitFormRenderArea(ROOT_PATH + '/main/' + dataAction + '/init', objData, $('#divSubContent'));
					break;
				case 'search':
					_gridMain.data("kendoGrid").dataSource.page(1);
					break;		
				default:
					break;
				}
			});
			
		});

		function getDataSearch(){
			var dataPost = {};
			
			dataPost['mau-so-hdon'] = $('#f-quantity #mau-so-hdon').val() == null? '': $('#f-quantity #mau-so-hdon').val();
			dataPost['from-date'] = $('#f-quantity #from-date').val() == null? '': $('#f-quantity #from-date').val();
			dataPost['to-date'] = $('#f-quantity #to-date').val() == null? '': $('#f-quantity #to-date').val();
				
			return dataPost;
		}

		function disableEnabledAllButton(){
			var checkRows = _gridMain.find(' tbody tr input[type="checkbox"]:checked');

		}

		function setTemplateForGridMAIN(key, data){
			var signStatusCode = data['SignStatusCode'];
			var eInvoiceStatus = data['EInvoiceStatus'];
			var MCCQT = data['MCCQT'] == null? '': data['MCCQT'];
			var text = '';
			var acti = data['IsActive'];
			switch (key) {
			case 'func':
				if('Chưa Hoạt động' == acti){
					text += '<i title="Kích hoạt" class="mdi mdi-checkbox-marked-circle-outline fs-25 text-blue c-pointer" data-sub-action="active" ></i>';						
					
			/* 		text += '<i title="Xóa" class="mdi mdi-close-box fs-25 text-danger c-pointer" data-sub-action="delete" ></i>';		
			 */	}
				else{
					text += '<i title="Hủy kích hoạt" class="mdi mdi-close-circle fs-25 text-blue c-pointer" data-sub-action="deactive" ></i>';						
				}
				break;
			default:
				break;
			}
			
			return text;
		}
		</script>
			</div>
		</div>
	</th:block>
</body>
</html>