<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
	
<div class="modal-header container-fluid">
	<h4 class="modal-title text-uppercase fw-700" id="dlg_title" th:text="${_header_}"></h4>
</div>
<div class="modal-body">
	<div class="container-fluid" >
		<form id="f-search" name="f-search" method="post" enctype="multipart/form-data" >
			<div class="row"  >
				<div class="col-sm-12">
					<div class="row p-r-0 p-l-0">
						<div class="col-12 col-sm-6 col-md-3">
							<div class="row">
								<div class="col-12 custom-field m-b-16">
									<div class="c-f__wrapper">
										<input class="form-control form-control-sm c-f__textbox" type="text" id="tax-code" name="tax-code" autocomplete="off" />
										<fieldset aria-hidden="true" class="c-f__set">
											<legend class="c-f__legend"><label>Mã số thuế</label></legend>
										</fieldset>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md-3">
							<div class="row">
										<div class="col-12 custom-field m-b-16">
											<div class="c-f__wrapper">
												<input class="form-control form-control-sm c-f__textbox" type="text" id="qlnvtncn-name" name="qlnvtncn-name" autocomplete="off" />
												<fieldset aria-hidden="true" class="c-f__set">
													<legend class="c-f__legend"><label>Tên nhân viên</label></legend>
												</fieldset>
											</div>
										</div>
									</div>
						</div>
						
						<div class="col-12 col-sm-6 col-md-2 m-b-10">
							<div class="row">
								<div class="col-12">
									<button class=" btns btns-search_auto__ses hover-up__ses w-100p" data-action="search" title="Tìm kiếm" type="button">
										<i class="mdi mdi-file-find"></i> <span class="d-none d-md-inline">Tìm kiếm</span>
									</button>
								</div>
							</div>
						</div>
                      		
					</div>
					<div class="form-group row m-b-5 m-t-7" >
						<div class="col-12 has-min-height-grid">
							<div id="grid" ></div>
						</div>
					</div>
	           					
				</div>
			</div>
		</form>
	</div>
</div>







<div class="modal-footer p-t-10 p-b-5">
	<div class="button-group text-right">
		<button type="button" data-action="select" class="btn btn-sm btn-primary" ><i class="mdi mdi-check-bold"> </i> Chọn</button>
		<button type="button" class="btn btn-sm btn-outline-secondary " data-dismiss="modal"><i class="mdi mdi-power"></i> Đóng</button>
	</div>
</div>
<script type="text/javascript">
	var _gridMainSearch = $('#f-search').find('#grid');
</script>
<script type="text/javascript">
$(function(){	
	_gridMainSearch.kendoGrid({
		dataSource: new kendo.data.DataSource({
			transport: {
				read: {
					type: 'POST',
					url: ROOT_PATH + '/common/search-nv',
                    dataType: 'json',
                    data: function(){return getDataSearchPopup();},
                    beforeSend: function(req){
                    	initAjaxJsonGridRequest(req);
                	},
				}
			},
			requestEnd: function (e) {
               	if (e.type === "read" && e.response) {
               		if(e.response.errorCode == 0){
               		}else{
               			notificationDLSuccess(createObjectError(e.response).html(), function(){});
               		}
               	}
           	},
            schema: {
				data: "rows",
                total: "total",
                model: {
					fields: {
					}
				}
			},
			pageSize: KENDOUI_PAGESIZE_NO_SCROLL_Y,
			serverPaging: true,
			serverSorting: true,
           	serverFiltering: true,
           	change: function(e) {
            },
		}),
		selectable: true, scrollable: true, 
 		sortable: {mode: "single", allowUnsort: true},
		sortable: true,
// 		filterable: { mode: "row"},
		filterable: false, resizable: true,
		serverSorting: false,
//		height: kendoGridHeight,
		pageable: {
			refresh: true,
			pageSizes: true,
			buttonCount: KENDOUI_BUTTONCOUNT,
			messages: {
				itemsPerPage: kendoGridMessages.itemsPerPage,
				previous: kendoGridMessages.previous,
				next: kendoGridMessages.next,
				refresh: kendoGridMessages.refresh,
				last: kendoGridMessages.last,
				first: kendoGridMessages.first,
				empty: kendoGridMessages.empty,
				display: kendoGridMessages.display
			},
			pageSizes: KENDOUI_PAGESIZES,
			numeric: true
		},
		dataBinding: function () {
            record = (this.dataSource.page() - 1) * this.dataSource.pageSize();
        },
        columns: [
        	{field: 'STT', width: '60px', encoded: false, headerTemplate: '<a class="k-link" href="javascript:void(0);">STT</a>',
  				attributes: {'class': 'table-cell text-center'}, sortable: false, 
  				headerAttributes: {'class': 'table-header-cell text-center'}, template: "#= ++record #",
  			},
  			
			{field: 'Code', width: '130px', encoded: false, headerTemplate: '<a class="k-link" href="javascript:void(0);">Mã nhân viên</a>',
				attributes: {'class': 'table-cell text-left'}, sortable: false, 
				headerAttributes: {'class': 'table-header-cell text-center'},
			},
			{field: 'Department', width: '130px', encoded: false, headerTemplate: '<a class="k-link" href="javascript:void(0);">Phòng ban</a>',
				attributes: {'class': 'table-cell text-left'}, sortable: false, 
				headerAttributes: {'class': 'table-header-cell text-center'},
			},
		
			{field: 'TaxCode', width: '200px', encoded: false, headerTemplate: '<a class="k-link" href="javascript:void(0);">Mã số thuế nhân viên</a>',
				attributes: {'class': 'table-cell text-left'}, sortable: false, 
				headerAttributes: {'class': 'table-header-cell text-center'},
			},
			{field: 'Name', width: '120px', encoded: false, headerTemplate: '<a class="k-link" href="javascript:void(0);">Tên nhân viên</a>',
				attributes: {'class': 'table-cell text-left text-nowrap'}, sortable: false, 
				headerAttributes: {'class': 'table-header-cell text-center'},
			},
			{field: 'Address', width: '250px', encoded: false, headerTemplate: '<a class="k-link" href="javascript:void(0);">Địa chỉ</a>',
				attributes: {'class': 'table-cell text-left'}, sortable: false, 
				headerAttributes: {'class': 'table-header-cell text-center'},
			},
			
			{field: 'Date', width: '120px', encoded: false, headerTemplate: '<a class="k-link" href="javascript:void(0);">Ngày tạo</a>',
				attributes: {'class': 'table-cell text-center'}, sortable: false, 
				headerAttributes: {'class': 'table-header-cell text-center'},
			},
			{field: 'UserCreated', width: '120px', encoded: false, headerTemplate: '<a class="k-link" href="javascript:void(0);">Người tạo</a>',
				attributes: {'class': 'table-cell text-center'}, sortable: false, 
				headerAttributes: {'class': 'table-header-cell text-center'},
			},
			
    	],
    	dataBound: function(e) {
    	}
	});
	$("#f-search").find('button[data-action]').click(function (event) {
		event.preventDefault();/*event.stopPropagation();*/
		var dataAction = $(this).data('action');
		
		switch (dataAction) {
		case 'search':
			_gridMainSearch.data("kendoGrid").dataSource.page(1);
			break;

		default:
			break;
		}
	});
	
	$('div.modal-footer').find('button[data-action="select"]').click(function (event) {
		event.preventDefault();/*event.stopPropagation();*/
		
		var grid = _gridMainSearch.data("kendoGrid");
    	var rowData = grid.dataItem(grid.select());
    	if(null == rowData){
    		alertDLSuccess('Vui lòng chọn dòng dữ liệu để thực hiện.', function(){});
    		return;
    	}
		
		if(callback) callback(rowData);
		$('#f-search').closest("div.modal").modal("hide");
		$('#f-search').closest("div.modal").find('.modal-content').empty();
	});
	
});

function getDataSearchPopup(){
	var dataPost = {};
	dataPost['tax-code'] = $('#f-search #tax-code').val() == null? '': $('#f-search #tax-code').val();
	dataPost['qlnvtncn-name'] = $('#f-search #qlnvtncn-name').val() == null? '': $('#f-search #qlnvtncn-name').val();
	
	return dataPost;
}
</script>
</html>