<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout-admin}">
<body>
	<th:block layout:fragment="contentadmin">
		<div class="row page-titles">
		<style>
				.text-red{
				color: red;
				}
				.btns-import__ses-3, .btns-blue__ses {
    background-color: palegoldenrod  ;
        color: var(--text-color);
}
				</style>
			<div class="col-md-12 col-12 align-self-center p-l-0">
				<h3 class="text-themecolor m-b-0 m-t-0 text-uppercase">Danh sách người mua </h3>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<form id="f-dsnmua" name="f-dsnmua" method="post" enctype="multipart/form-data" >
					<div class="card">
						<div class="card-body">
							<div class="filter__list--erp">
								<div class="col-erp-5">								
									<div class="row">
										<div class="col-12 custom-field m-b-16">
											<div class="c-f__wrapper">
												<input class="form-control form-control-sm c-f__textbox" type="text" id="from-date" name="from-date" th:value="${FromDate}" autocomplete="off"/>
												<fieldset aria-hidden="true" class="c-f__set">
													<legend class="c-f__legend"><label>Từ ngày </label></legend>
												</fieldset>
											</div>
										</div>
									</div>
								</div>
								<div class="col-erp-5">
								
									<div class="row">
										<div class="col-12 custom-field m-b-16">
											<div class="c-f__wrapper">
												<input class="form-control form-control-sm c-f__textbox" type="text" id="to-date" name="to-date" th:value="${ToDate}" autocomplete="off" />
												<fieldset aria-hidden="true" class="c-f__set"><legend class="c-f__legend"><label>Đến ngày</label></legend></fieldset>
											</div>
										</div>
									</div>
								</div>
								<div class="col-erp-5 col-erp__cta">
									 <div class="row">

						      <div class="col-12 m-b-16">
						         <button
						            class="btns btns-search_auto__ses hover-up__ses w-100p"
						            data-action="search"
						            title="Tìm kiếm"
						            type="button"
						            >
						         <i class="mdi mdi-file-find"></i
						            ><span class="d-none d-md-inline">Tìm kiếm</span>
						         </button>
						      </div>
						   </div>
								</div>
							</div>
							
							<div class="row"><div class="col-12"><hr style="margin: 0 0 10px 0" /></div></div>
							<div class="col-12">
								<div class="row mT-0">
								                         		
                            		<div class="col-12 col-sm-12 text-right p-r-0 p-l-0">
                            			<div class="button-group text-right">
                            				<button
									      type="button"
									      title="Lấy danh sách người mua"
									      data-action="accept"
									      class="btns btns-sign__hd hover-up__ses"
									      th:if="${#strings.contains(UserFullPathRight,'|dsnmua-older|')}"
									      >
									   <i class="mdi mdi-format-list-checks"> </i
									      ><span class="d-none d-md-inline">
									  Lấy danh sách cũ</span
									      >
									   </button>
   										<button
									      type="button"
									      title="Xuất danh sách excel"
									      data-action="dsnmua-export"
									      class="btns btns-export__ses hover-up__ses"
									      th:if="${#strings.contains(UserFullPathRight,'|dsnmua-export|')}"
									      >
									   <i class="mdi mdi-microsoft-excel"> </i
									      ><span class="d-none d-md-inline">
									   Xuất danh sách excel</span
									      >
									   </button>
										   <!-- <button
										      type="button"
										      title="Chi tiết"
										      data-action="einvoice-detail"
										      class="btns btns-detail__hd hover-up__ses"
										      >
										   <i class="mdi mdi mdi-information-outline"> </i
										      ><span class="d-none d-md-inline">Chi tiết</span>
										   </button>	 -->			  
										</div>                           			
                            		</div>
                            	</div>
                            </div>
                            
                            <div class="form-group row m-b-5 m-t-7" >
	           					<div class="col-12 has-min-height-grid">
	           						<div id="grid" ></div>
	           					</div>
	           				</div>
							
						</div>
					</div>
                      
                      
				</form>
				<script type="text/javascript">
				_gridMain = $('#f-dsnmua').find('#grid');
				</script>
			<!--   <script th:src="@{/static/function/einvoice/einvoices.js(v=1.55) }"></script>  -->
				<script>


				$(function(){
					dateInputFormat($('#f-dsnmua').find('#from-date'));
					dateInputFormat($('#f-dsnmua').find('#to-date'));
					var  timeoutID;
					var  timeoutID2;
					_gridMain.kendoGrid({
						dataSource: new kendo.data.DataSource({
							transport: {
								read: {
									type: 'POST',
									url: ROOT_PATH + '/main/dsnmua/search',
				                    dataType: 'json',
				                    data: function(){return getDataToSave();},
				                    beforeSend: function(req){
				                    	initAjaxJsonGridRequest(req);
				                	},
								}
							},
							requestEnd: function (e) {
				               	if (e.type === "read" && e.response) {
				               		if(e.response.errorCode == 0){
				               		}else{
				               			notificationDLSuccess(createObjectError(e.response).html(), function(){});
				               		}
				               	}
				           	},
				            schema: {
								data: "rows",
				                total: "total",
				                model: {
									fields: {
									}
								}
							},
							pageSize: KENDOUI_PAGESIZE_NO_SCROLL_Y,
							serverPaging: true,
							serverSorting: true,
				           	serverFiltering: true,
				           	change: function(e) {
				            },
						}),
						selectable: true, scrollable: true, 
				 		sortable: {mode: "single", allowUnsort: true},
						sortable: true,
//				 		filterable: { mode: "row"},
						filterable: false, resizable: true,
						serverSorting: false,
//						height: kendoGridHeight,
						pageable: {
							refresh: true,
							pageSizes: true,
							buttonCount: KENDOUI_BUTTONCOUNT,
							messages: {
								itemsPerPage: kendoGridMessages.itemsPerPage,
								previous: kendoGridMessages.previous,
								next: kendoGridMessages.next,
								refresh: kendoGridMessages.refresh,
								last: kendoGridMessages.last,
								first: kendoGridMessages.first,
								empty: kendoGridMessages.empty,
								display: kendoGridMessages.display
							},
							pageSizes: KENDOUI_PAGESIZES,
							numeric: true
						},
						dataBinding: function () {
				            record = (this.dataSource.page() - 1) * this.dataSource.pageSize();
				        },
				        columns: [
				        	{field: 'STT', width: '60px', encoded: false, headerTemplate: '<a class="k-link" href="javascript:void(0);">STT</a>',
				  				attributes: {'class': 'table-cell text-center'}, sortable: false, 
				  				headerAttributes: {'class': 'table-header-cell text-center'}, template: "#= ++record #",
				  			},
				  			{field: 'isCheck', title: '', width: '60px', encoded: false
								, headerTemplate: '<label class="custom-control custom-checkbox p-l-30 m-b-0"><input type="checkbox" class="custom-control-input Check-All" data-check-all ><span class="custom-control-label"></span></label>'
								, attributes: {'class': 'table-cell', style: 'text-align: center;'}, sortable: false
								, headerAttributes: {'class': 'table-header-cell', style: 'text-align: center;',}
								, template: '<label class="custom-control custom-checkbox p-l-30 m-b-3"><input type="checkbox" class="custom-control-input Check-Item" data-check-item ><span class="custom-control-label"></span></label>'
							},				  		
							{field: 'Ten', width: '140px', encoded: false, headerTemplate: '<a class="k-link" href="javascript:void(0);">Tên đơn vị</a>',
								attributes: {'class': 'table-cell text-left'}, sortable: false, 
								headerAttributes: {'class': 'table-header-cell text-center'},
								
							},
							{field: 'MST', width: '120px', encoded: false, headerTemplate: '<a class="k-link" href="javascript:void(0);">Mã số thuế</a>',
								attributes: {'class': 'table-cell text-center'}, sortable: false, 
								headerAttributes: {'class': 'table-header-cell text-center'},
							},	
							{field: 'DChi', width: '150px', encoded: false, headerTemplate: '<a class="k-link" href="javascript:void(0);">Địa chỉ</a>',
								attributes: {'class': 'table-cell text-left'}, sortable: false, 
								headerAttributes: {'class': 'table-header-cell text-center'},
							},
							{field: 'SDThoai', width: '100px', encoded: false, headerTemplate: '<a class="k-link" href="javascript:void(0);">Số điện thoại</a>',
								attributes: {'class': 'table-cell text-center'}, sortable: false, 
								headerAttributes: {'class': 'table-header-cell text-center'},
							},
							{field: 'DCTDTu', width: '140px', encoded: false, headerTemplate: '<a class="k-link" href="javascript:void(0);">Email</a>',
								attributes: {'class': 'table-cell text-left'}, sortable: false, 
								headerAttributes: {'class': 'table-header-cell text-center'},
							},
							{field: 'NLap', width: '120px', encoded: false, headerTemplate: '<a class="k-link" href="javascript:void(0);">Ngày lập hóa đơn</a>',
								attributes: {'class': 'table-cell text-center'}, sortable: false, 
								headerAttributes: {'class': 'table-header-cell text-center'},
							},
							
				    	],
						dataBound: function(e) {
//							_gridMain.find('div table tbody tr td').each(function(idx, obj){
//								$(obj).attr('title', $(obj).html())
//							});
							
							$("#f-dsnmua").find('button[data-action="einvoice-detail"], button[data-action="einvoice-edit"],button[data-action="einvoice-copy"], button[data-action="einvoice-sign"], button[data-action="einvoice-cre-dc-tt"]').prop('disabled', true);
							
							_gridMain.find('tbody[role="rowgroup"]').find('tr').undelegate('i[data-sub-action]', 'click');
							_gridMain.find('tbody[role="rowgroup"]').find('tr').delegate('i[data-sub-action]', 'click', function(e){
								e.preventDefault();/*e.stopPropagation();*/
								
								var $obj = $(this);
								var $tr = $obj.closest('tr');
								var subAction = $obj.attr('data-sub-action');
								
								var indexRow = $tr.index();
								var rowData = null;
								var objData = {};
								var objURL = {};
								
								switch (subAction) {
								
								case 'refresh':
									rowData = _gridMain.data("kendoGrid").dataItem($tr);
									objData['_id'] = rowData['_id'];
									$.ajax({
										type: "POST",
										datatype: "json",
										url: ROOT_PATH + '/main/einvoices/refresh-status-cqt',
										data: objData,
										beforeSend: function(req) {
											initAjaxJsonRequest(req);
								        	showLoading();
										},
										success:function(res) {
											hideLoading();
//											if(res) {
//												if(res.errorCode == 0) {
//													_gridMain.data("kendoGrid").dataSource.read();
//												}else{
//													alertDLSuccess(createObjectError(res).html(), function(){});
//												}
//											}else{
//												alertDLSuccess('unknown error!!!', function(){});
//												hideLoading();
//											}
//										},
											if(res) {
												if(res.errorCode == 0) {
													_gridMain.data("kendoGrid").dataSource.read();
													objURL['check'] = ROOT_PATH + '/main/einvoice-send-emailauto/check-data-send';
													objURL['exec'] = ROOT_PATH + '/main/einvoice-send-emailauto/send-mail';
													rowData = _gridMain.data("kendoGrid").dataItem($tr);
													objData['_id'] = rowData['_id'];
													$.ajax({
														type: "POST",
														datatype: "json",
														url: objURL['check'],
														data: objData,
														beforeSend: function(req) {
															initAjaxJsonRequest(req);
												        	showLoading();
														},
														success:function(res) {
															hideLoading();
															if(res) {
																if(res.errorCode == 0) {
																	var responseData = res.responseData;
																	tokenTransaction = responseData['TOKEN'];
																	
																	objData['tokenTransaction'] = tokenTransaction;

																			$.ajax({
																				type: "POST",
																				datatype: "json",
																				url: objURL['exec'],
																				data: objData,
																				beforeSend: function(req) {
																					initAjaxJsonRequest(req);
																		        	showLoading();
																				},
																				success:function(res) {
																					hideLoading();
																					if(res) {
																						if(res.errorCode == 0) {
																							_gridMain.data("kendoGrid").dataSource.read();
																						}else{
																							alertDLSuccess(createObjectError(res).html(), function(){});
																						}
																					}else{
																						alertDLSuccess('unknown error!!!', function(){});
																						hideLoading();
																					}
																				},
																				error:function (xhr, ajaxOptions, thrownError){
																					alertDLSuccess(xhr.status + " - " + xhr.responseText, function(){});
																		            hideLoading();
																		        }
																			});
																	
																		
																
																}else{
																	alertDLSuccess(createObjectError(res).html(), function(){});
																}
															}else{
																alertDLSuccess('unknown error!!!', function(){});
																hideLoading();
															}
														},
														error:function (xhr, ajaxOptions, thrownError){
															alertDLSuccess(xhr.status + " - " + xhr.responseText, function(){});
												            hideLoading();
												        }
													});
												}else{
													alertDLSuccess(createObjectError(res).html(), function(){});
												}
											}else{
												alertDLSuccess('unknown error!!!', function(){});
												hideLoading();
											}
										},
										error:function (xhr, ajaxOptions, thrownError){
											alertDLSuccess(xhr.status + " - " + xhr.responseText, function(){});
								            hideLoading();
								        }
									});					
									break;							
								case 'delete':							
								case 'send-cqt':          
					                  if('delete' == subAction){
					                    objURL['check'] = ROOT_PATH + '/main/einvoice-del/check-data';
					                    objURL['exec'] = ROOT_PATH + '/main/einvoice-del/exec-data';
					                  }else{
					                    objURL['check'] = ROOT_PATH + '/main/einvoice-send-cqt/check-data';
					                    objURL['exec'] = ROOT_PATH + '/main/einvoice-send-cqt/exec-data';
					                  }
					                  
					                  rowData = _gridMain.data("kendoGrid").dataItem($tr);
					                  objData['_id'] = rowData['_id'];
					                  $.ajax({
					                    type: "POST",
					                    datatype: "json",
					                    url: objURL['check'],
					                    data: objData,
					                    beforeSend: function(req) {
					                      initAjaxJsonRequest(req);
					                          showLoading();
					                    },
					                    success:function(res) {
					                      hideLoading();
					                      if(res) {
					                        if(res.errorCode == 0) {
					                          var responseData = res.responseData;
					                          
					                          var confirmText = responseData['CONFIRM'];
					                          tokenTransaction = responseData['TOKEN'];
					                          
					                          objData['tokenTransaction'] = tokenTransaction;
					                          
					                          alertConfirm(confirmText,
					                            function(e){
					                              $.ajax({
					                                type: "POST",
					                                datatype: "json",
					                                url: objURL['exec'],
					                                data: objData,
					                                beforeSend: function(req) {
					                                  initAjaxJsonRequest(req);
					                                      showLoading();
					                                },
					                                success:function(res) {
					                                  hideLoading();
					                                  if(res) {
					                                    if(res.errorCode == 0) {
					                                      _gridMain.data("kendoGrid").dataSource.read();
					                                    }else{
					                                      alertDLSuccess(createObjectError(res).html(), function(){});
					                                    }
					                                  }else{
					                                    alertDLSuccess('unknown error!!!', function(){});
					                                    hideLoading();
					                                  }
					                                },
					                                error:function (xhr, ajaxOptions, thrownError){
					                                  alertDLSuccess(xhr.status + " - " + xhr.responseText, function(){});
					                                        hideLoading();
					                                    }
					                              });
					                            },
					                            function(e){}
					                          );
					                        }else{
					                          alertDLSuccess(createObjectError(res).html(), function(){});
					                        }
					                      }else{
					                        alertDLSuccess('unknown error!!!', function(){});
					                        hideLoading();
					                      }
					                    },
					                    error:function (xhr, ajaxOptions, thrownError){
					                      alertDLSuccess(xhr.status + " - " + xhr.responseText, function(){});
					                            hideLoading();
					                        }
					                  });
					                  break;
							
								default:
									break;
								}
							});
							
						}
					});
					
					
					_gridMain.find('table[role="grid"]').find('thead').undelegate('input[type="checkbox"][data-check-all]', 'click');
					_gridMain.find('table[role="grid"]').find('thead').delegate('input[type="checkbox"][data-check-all]', 'click', function(e){
						var _obj = this;
						
						_gridMain.find('table[role="grid"] tbody input[type="checkbox"][data-check-item]').prop('checked', $(_obj).prop('checked'));
						if ($(_obj).prop('checked')) {
							_gridMain.find(' tbody tr').addClass("k-state-selected");
						}else{
							_gridMain.find(' tbody tr').removeClass("k-state-selected");
						}
						
						isDisabledEditDel();
					});
								
					
					
					
					
					
					_gridMain.find('table[role="grid"]').find('tbody').undelegate('tr', 'click');
					_gridMain.find('table[role="grid"]').find('tbody').delegate('tr', 'click', function(e){
						$("#f-dsnmua").find('button[data-action="einvoice-detail"]').prop('disabled', false);
						$("#f-dsnmua").find('button[data-action="einvoice-copy"]').prop('disabled', false);	
						var $tr = $(this).closest("tr");

						var rowData = _gridMain.data("kendoGrid").dataItem($tr);
						$("#f-dsnmua").find('button[data-action="einvoice-delete"]').prop('disabled', 'CREATED' == rowData['EInvoiceStatus']? false: true);
						$("#f-dsnmua").find('button[data-action="einvoice-delete_"]').prop('disabled', 'PENDING' == rowData['EInvoiceStatus']? false: true);
						$("#f-dsnmua").find('button[data-action="einvoice-sign"]').prop('disabled', 'NOSIGN' == rowData['SignStatusCode']? false: true);
						$("#f-dsnmua").find('button[data-action="einvoice-edit"]').prop('disabled', 'NOSIGN' == rowData['SignStatusCode']? false: true);
						$("#f-dsnmua").find('button[data-action="einvoice-signAll"]').prop('disabled', 'NOSIGN' == rowData['SignStatusCode']? false: true);

					
						
					
				            
				          });
					
					_gridMain.find('table[role="grid"]').find('thead').undelegate('input[type="checkbox"][data-check-all]', 'click');
					_gridMain.find('table[role="grid"]').find('thead').delegate('input[type="checkbox"][data-check-all]', 'click', function(e){
						var _obj = this;
						
						_gridMain.find('table[role="grid"] tbody input[type="checkbox"][data-check-item]').prop('checked', $(_obj).prop('checked'));
						if ($(_obj).prop('checked')) {
							_gridMain.find(' tbody tr').addClass("k-state-selected");
						}else{
							_gridMain.find(' tbody tr').removeClass("k-state-selected");
						}
						
						disableEnabledAllButton();
					});
	
					_gridMain.find('table[role="grid"]').find('tbody').undelegate('input[type="checkbox"][data-check-item]', 'click');
					_gridMain.find('table[role="grid"]').find('tbody').delegate('input[type="checkbox"][data-check-item]', 'click', function(e){
						var checked = $(this).prop('checked');
						if(checked){
							$(this).closest("tr").addClass("k-state-selected");
						}else{
							$(this).closest("tr").removeClass("k-state-selected");
						}
						_gridMain.find('table[role="grid"]').find('thead input[type="checkbox"]').prop('checked', _gridMain.find(' tbody tr input[type="checkbox"]:not(:checked)').length == 0);
						disableEnabledAllButton();
					});
	
					_gridMain.find('table[role="grid"]').find('tbody').undelegate('tr td:not(:eq(1))', 'click');
					_gridMain.find('table[role="grid"]').find('tbody').delegate('tr td:not(:eq(1))', 'click', function(e){
						var _obj = $(this).closest("tr");
						
						var _oldChecked = $(_obj).find('input[type=checkbox][data-check-item]').prop('checked');
						$(_obj).find('input[type=checkbox][data-check-item]').prop('checked', !_oldChecked);
						if(!_oldChecked){
							$(this).closest("tr").addClass("k-state-selected");
						}else{
							$(this).closest("tr").removeClass("k-state-selected");
						}
						_gridMain.find('table[role="grid"]').find('thead input[type="checkbox"]').prop('checked', _gridMain.find(' tbody tr input[type="checkbox"]:not(:checked)').length == 0);
						disableEnabledAllButton();
					});
					
					$("#f-dsnmua").undelegate('a.download-plugin', 'click');
					$("#f-dsnmua").delegate('a.download-plugin', 'click', function(event){
						event.preventDefault();/*event.stopPropagation();*/
						
						window.open(ROOT_PATH + '/main/common/download-plugin', '_blank');
					});
					
					$("#f-dsnmua").find('button[data-action]').click(function (event) {
						event.preventDefault();/*event.stopPropagation();*/
						var dataAction = $(this).data('action');
						var $obj = $(this);
						var objData = {};
						///////////////////////////////////
						var tokenSignApproveWithToken = '';
							var rowsSign = null;
							var serialNumber = '';
							var checkSignStatus = false;
							var signDate = '';
						//////////////////////////////
						var rowData = null;
						var actionCheck = '|einvoice-edit|einvoice-copy|einvoice-delete|einvoice-delete_|einvoice-pdfAll|einvoice-pdfCD|einvoice-xml|einvoice-signAll|einvoice-sign|einvoice-detail|';
						var checkRows = _gridMain.find(' tbody tr input[type="checkbox"]:checked');
						var ids = null;
						var idx = -1;
						if(actionCheck.indexOf('|' + dataAction + '|') != -1 && 0 == checkRows.length){
							alertDLSuccess('<span class="required">Vui lòng chọn dòng dữ liệu để thực hiện.</span>', function(){});
							return;
						}
						switch (dataAction) {
						case 'dsnmua-export':												
							$.ajax({
								type: "POST",
								datatype: "json",
								url: ROOT_PATH + '/main/dsnmua/check-data-export',
								//data: objData,
								beforeSend: function(req) {
									initAjaxJsonRequest(req);
						        	showLoading();
								},
								success:function(res) {
									hideLoading();
									if(res.errorCode == 0) {
										var responseData = res.responseData;
										
										tokenTransaction = responseData['TOKEN'];															
											window.open(ROOT_PATH + '/main/dsnmua/export-excel/' + tokenTransaction,'_blank');													
									}else{
										alertDLSuccess(createObjectError(res).html(), function(){});
									}
								},
								error:function (xhr, ajaxOptions, thrownError){
									alertDLSuccess(xhr.status + " - " + xhr.responseText, function(){});
						            hideLoading();
						        }
							});
							break;
						case 'accept':
							objDataSend = getDataToSave()
							$.ajax({
										type : 'POST',
										datatype : 'json',
										url : ROOT_PATH
												+ '/main/dsnmua/check-data-save',
										data : objDataSend,
										beforeSend : function(
												req) {
											initAjaxJsonRequest(req)
											showLoading()
										},
										success : function(
												res) {
											hideLoading()
											if (res.errorCode == 0) {
												var responseData = res.responseData

										//		var confirmText = responseData['CONFIRM']
												tokenTransaction = responseData['TOKEN']

												objDataSend['tokenTransaction'] = tokenTransaction																									
																	$.ajax({
																		type : 'POST',
																		datatype : 'json',
																		url : ROOT_PATH+ '/main/dsnmua/save-data',
																		data : objDataSend,
																		beforeSend : function(
																				req) {
																			initAjaxJsonRequest(req)
																			showLoading()
																		},
																		success : function(
																				res) {
																			alertDLSuccess(createObjectError(res).html(), function(){});
																			hideLoading()
																			if (res) {
																				if (res.errorCode == 0) {
																					_gridMain.data("kendoGrid").dataSource.read();
																				} else {
																					alertDLSuccess(createObjectError(res).html(),function() {})
																				}
																			} else {
																				alertDLSuccess(
																						'unknown error!!!',
																						function() {
																						})
																				hideLoading()
																			}
																		},
																		error : function(
																				xhr,
																				ajaxOptions,
																				thrownError) {
																			alertDLSuccess(xhr.status+ ' - '+ xhr.responseText,function() {})
																			hideLoading()
																		},
																	})
											} else {
												alertDLSuccess(createObjectError(res).html(),function() {})
											}
										},
										error : function(
												xhr,
												ajaxOptions,
												thrownError) {
											alertDLSuccess(xhr.status+ ' - '+ xhr.responseText,function() {})
											hideLoading()
										},
									})
							break
						case 'einvoice-detail':
							objData = {};
							idx = $(checkRows[0].closest("tr")).index();
							rowData = _gridMain.data("kendoGrid").dataItem(_gridMain.find(' tbody tr').eq(idx));
							objData['_id'] = rowData['_id'];
							$('#divSubContent').show();$('#divMainContent').hide();
							submitFormRenderArea(ROOT_PATH + '/main/' + dataAction + '/init', objData, $('#divSubContent'));
							break;					
					
						case 'einvoice-cre':
							$('#divSubContent').show();$('#divMainContent').hide();
							submitFormRenderArea(ROOT_PATH + '/main/' + dataAction + '/init', objData, $('#divSubContent'));
							break;
						case 'search':
							_gridMain.data("kendoGrid").dataSource.page(1);
							break;
					
					
						default:
							break;
						}
					});

				});


				
		    
				
				function getDataToSave(){
					var dataPost = {};
					
					dataPost['from-date'] = $('#f-dsnmua #from-date').val() == null? '': $('#f-dsnmua #from-date').val();
					dataPost['to-date'] = $('#f-dsnmua #to-date').val() == null? '': $('#f-dsnmua #to-date').val();
					
					return dataPost;
				}

		
				function setTemplateForGridMAIN(key, data){
					var signStatusCode = data['SignStatusCode'];
					var eInvoiceStatus = data['EInvoiceStatus'];
					var MCCQT = data['MCCQT'] == null? '': data['MCCQT'];
					var text = '';
					
					switch (key) {
					case 'func':
						if('XOABO' == eInvoiceStatus){
							
						}else{
						if('CREATED' == eInvoiceStatus || 'NOSIGN' == signStatusCode){
							text += '<i title="Xem hóa đơn pdf" class="mdi mdi-file-pdf fs-25 text-red c-pointer" data-sub-action="print" ></i>';
							text += '<i title="Xóa" class="mdi mdi-close-box fs-25 text-danger c-pointer" data-sub-action="delete" ></i>';
						
						}else if('PENDING' == eInvoiceStatus && 'SIGNED' == signStatusCode){
							text += '<i title="Xem hóa đơn pdf" class="mdi mdi-file-pdf fs-25 text-red c-pointer" data-sub-action="print" ></i>';
							text += '<i title="Gửi CQT" class="mdi mdi-telegram fs-25 text-info c-pointer" data-sub-action="send-cqt" ></i>';
						
						}else if('PROCESSING' == eInvoiceStatus && 'SIGNED' == signStatusCode || 'ERROR_CQT' == eInvoiceStatus && 'SIGNED' == signStatusCode){
							text = '<i title="Lấy kết quả từ CQT" class="mdi mdi-refresh-circle fs-25 text-info c-pointer" data-sub-action="refresh" ></i>';
							//text += '<i title="Đổi mã thông điệp" class="mdi mdi-swap-horizontal-circle fs-25 text-red c-pointer" data-sub-action="change" ></i>';
							text += '<i title="Lịch sử lấy mã CQT" class="mdi mdi-eye fs-25 text-info c-pointer" data-sub-action="history" ></i>';
					}
						if('' != MCCQT){
							text += '<i title="Xem hóa đơn pdf" class="mdi mdi-file-pdf fs-25 text-red c-pointer" data-sub-action="print" ></i>';
							text += '<i title="In hóa đơn chuyển đổi" class="mdi mdi-file-pdf fs-25 text-info c-pointer" data-sub-action="print-convert" ></i>';
							text += '<i title="Gửi email hóa đơn" class="mdi mdi-email fs-25 text-warning c-pointer" id="send-email" name="send-email" data-sub-action="send-email" ></i>';	
							text += '<i title="Lịch sử lấy mã CQT" class="mdi mdi-eye fs-25 text-info c-pointer" data-sub-action="history" ></i>';
						}
						
						}
						break;
					case 'StatusDesc':
						if('DELETED' == data['EInvoiceStatus']){
							text = '<div style="background: red;border-radius: 10px;color: white;">' + data['StatusDesc'] + '</div>';
						}
						
						else if('XOABO' == data['EInvoiceStatus']){
							text = '<div style="background: red;border-radius: 10px;color: white;">' + data['StatusDesc'] + '</div>';
						}
						else if('REPLACED' == data['EInvoiceStatus']){
							text = '<div style="background: #FFFF66;border-radius: 10px;color: black;">' + data['StatusDesc'] + '</div>';
						}
						else if('ADJUSTED' == data['EInvoiceStatus']){
							text = '<div style="background: #CC99CC;border-radius: 10px;color: white;">' + data['StatusDesc'] + '</div>';
						}
						else if('COMPLETE' == data['EInvoiceStatus']){
							text = '<div style="background: #85DE77;border-radius: 10px;color: white;">' + data['StatusDesc'] + '</div>';
						}
						else if('CREATED' == data['EInvoiceStatus']){
							text = '<div style="background: #669966;border-radius: 10px;color: white;">' + data['StatusDesc'] + '</div>';
						}
						else if('PROCESSING' == data['EInvoiceStatus']){
							text = '<div style="background: #000099;border-radius: 10px;color: white;">' + data['StatusDesc'] + '</div>';
						}
						else if('PENDING' == data['EInvoiceStatus']&& 'SIGNED' != data['SignStatusCode']){
							text = '<div style="background: #99CCFF;border-radius: 10px;color: white;">' + data['StatusDesc'] + '</div>';
						}
						else if('PENDING' == data['EInvoiceStatus'] && 'SIGNED' == data['SignStatusCode']){
							text = '<div style="background: #0033FF;border-radius: 10px;color: white;">' + data['StatusDesc'] + '</div>';
						}
						else if('ERROR_CQT' == data['EInvoiceStatus']){
							text = '<div style="background: #666666;border-radius: 10px;color: white;">' + data['StatusDesc'] + '</div>';
						}
						
						else{
							text = data['StatusDesc'];
						}
						break;

					default:
						break;
					}
					
					return text;
				}
			

				</script>
			</div>
		</div>
		
	</th:block>
	
</body>
</html>